section #top h1 {
	padding-left: 45%;
	padding-top: 2%;
}

section article.editor {
	width: 50%;
	height: 100%;
	margin: 1% 0% 0% 25%;
}

section article.editor textarea {
	height: 30em;
}

section form input[type="text"] {
	font-size: 15px;
	box-sizing: border-box;
	margin: 15px 0px 15px 0px;
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
}

section form input[type="submit"] {
	font-size: 24px;
	width: 20%;
	margin: 1% 0% 0% 21%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
	background-color: #4180C5;
	color: white;
	cursor: pointer;
}

section form input[type="submit"]:hover {
	background-color: black;
}