section h1 {
	margin-top: 15%;
	text-align: center;
}

section article {
	display: inline-block;
	margin-left: 43.5%;
}

form {
	width: 35%;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
}

section form input[type="text"] {
	width: 80%;
	border: 1px solid #7ac9b7;
	border-radius: 5px;
	margin: 10px;
}

section form input[type="submit"] {
	margin: 10px;
	margin-left: 30%;
	font-size: 16px;
	border: 1px solid #7ac9b7;
	border-radius: 5px;
	background-color: green;
	color: white;
	cursor: pointer;
}