section #top h1 {
	padding-left: 45%;
	padding-top: 2%;
}

section article.articulo {
	float: left;
	width: 20%;
	height: 20%;
	margin: 1% 5% 1% 5%;
	padding: 1%;
	border: 1px solid;
	border-radius: 5px;
}

section article.articulo .herramientas {
	float: left;
	width: 11%;
	margin-left: 110%;
	margin-top: -50%;
	//border: 1px solid;
}

section article.articulo .herramientas img {
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 5px;
}